* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  margin-bottom: 2rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  margin-right: 5rem;
  gap: 10px;
}
.nav-links li {
  transition: transform 200ms ease-out;
}
.nav-links li:hover {
  transform: scale(1.1);
}

.btn-secondary {
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.signin {
  background-color: #F2C046;
  color: black;
  font-weight: bold;
}

.signup {
  background-color: #23263A;
  font-weight: bold;
}

.footer {
  background-color: #ebebeb;
  padding: 40px 0;
}
.footer h4 {
  margin-bottom: 15px;
  font-size: 1.5rem;
}
.footer p {
  font-size: 1rem;
  line-height: 1.6;
}
.footer .footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0 50px;
}

.footer-links ul,
.footer-social ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li,
.footer-social ul li {
  margin-bottom: 10px;
}

.footer-links ul li a,
.footer-social ul li a {
  text-decoration: none;
  font-size: 1rem;
}

.footer-social ul li a {
  display: flex;
  align-items: center;
}

.footer-social ul li a i {
  margin-right: 8px;
  font-size: 1.2rem;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #444;
  margin-top: 20px;
}
.footer-bottom p {
  font-size: 0.9rem;
}

.footer a:hover {
  color: #F2C046;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .footer-social ul {
    justify-content: center;
  }
}
.hero {
  text-align: center;
}
.hero .hero-content {
  font-size: 24px;
  padding: 2rem 0;
}
.hero .hero-content h1 {
  color: #F2C046;
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.hero .hero-content p {
  font-size: 1.5rem;
}
.hero .image {
  width: 60%;
  margin: 2rem auto;
  border-radius: 10px;
  background: url("../assets/Page.png");
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
  height: 100vh;
  background-size: cover;
  transition: transform 200ms ease-in-out;
}
.hero .image:hover {
  transform: scale(1.1);
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 20px;
  padding: 50px;
  background-color: #f6f6f6;
}
.features .feature {
  padding: 5rem;
  text-align: center;
  box-shadow: rgb(242, 192, 70) 0px 0px 0px 3px;
  border-radius: 10px;
  transition: transform 200ms ease-in-out;
}
.features .feature:hover {
  transform: scale(0.9);
}
.features .feature h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.features .feature p {
  font-size: 1.2rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
  background-color: #f0f0f0;
  height: 100vh;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}
.container h1 {
  color: #333;
}
.container p {
  color: #666;
}
.container img {
  width: 50%;
  height: 50%;
}

/*# sourceMappingURL=app.css.map */
