.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
  background-color: #f0f0f0;
  height: 100vh;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  font-family: Arial, sans-serif;

  h1 {
    color: #333;
  }
  p {
    color: #666;
  }

  img {
    width: 50%;
    height: 50%;
  }
  
}


