.hero {
  text-align: center;

  .hero-content {
    font-size: 24px;
    padding: 2rem 0;
    h1 {
      color: $clr-accent;
      font-size: 5rem;
      font-weight: bold;
      margin-bottom: .5rem;
    }
    
     p {
      font-size: 1.5rem;
    }
  }

  .image {
    width: 60%;
    margin: 2rem auto;
    border-radius: 10px;
    background: url("../assets/Page.png");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
    height: 100vh;
    background-size: cover;
    transition: transform 200ms ease-in-out;
      
      &:hover{
        transform: scale(1.1);
      }
  }
}